@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* Body and General Styles Start
-------------------------------------------------- */

body{font-family: 'Open Sans', sans-serif;line-height: 22px;font-size: 16px;}
#page{overflow: hidden;}
#wrapper {position: relative;}
a{color: inherit;}
a:hover,
a:focus{color: #53bbd8;}

/* Body End
-------------------------------------------------- */

/* header Start 
-------------------------------------------------- */
#header {padding-left: 20px; position: fixed;top: 0;bottom: 0;left: 0;min-height: 100%;width: 220px;border-right: 1px solid #d8d8da;z-index: 99;}
.header-inner{height: 100%;overflow: auto;padding-top: 30px;padding-bottom: 30px;}
.navbar-header{margin-bottom: 40px;}
.navbar-nav{padding-right: 10px;}
.navbar-nav > li{margin: 5px 0;display: inline-block;width: 100%;}
.navbar-nav > li > a{font-size: 18px;padding-left: 20px;padding-right: 10px;position: relative;}
.navbar-nav > li > a:after{content: "";position: absolute;left: 0;top: 0;height: 0; width: 5px;background-color: #55bfd5;}
.navbar-nav > li.active > a:after,
.navbar-nav > li.active > a:hover:after,
.navbar-nav > li.active > a:focus:after,
.navbar-nav > li > a:hover:after,
.navbar-nav > li > a:focus:after{height: 100%;}
.navbar-nav > li > a .badge{position: absolute;right: 0;top: 50%;background-color: #b2b2b2;padding: 4px 11px;}

.nav-icons{padding: 0 0 0 22px;margin: 20px 0 0 0;}
.nav-icons li{list-style: none;}
.nav-icons li a{display: block;padding: 15px 0;}
.nav-icons li a img{max-width: 21px;}

/* header End
-------------------------------------------------- */
	 
/* content Start 
-------------------------------------------------- */

#content {padding-top: 30px;}
.heading-title{padding-bottom: 20px;border-bottom: 1px solid #e8e8e8;}
.heading-title h2{margin: 0;}
.heading-right .btn{margin-left: 5px;}
.btn-link em{font-size: 22px;}
.table-large.table>tbody>tr>td{padding:50px 15px;}
.listing-table .label{margin-left: 4px;}

.admin-form{padding-top: 20px;border-top: 1px solid #e8e8e8;}
.photo-arrange ul{padding: 0;margin: 0 -10px;}
.photo-arrange ul li{list-style: none;float: left;padding: 0 10px;margin-bottom: 35px;width: 20%;}
.image-block{height: 150px;background-position: center center;background-size: cover;background-repeat: no-repeat;position: relative;}
.upload-file{border:1px dashed #6e6e6e;position: relative;height: 150px;}
.file-upload{height: 150px;position: relative;}
.file-upload span{position: absolute;left: 10px;right: 10px;top: 50%;text-align: center;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.upload-file input{width: 100%;position: absolute;left: 0;top: 0;right: 0;bottom: 0;opacity: 0;cursor: pointer;}
.image-block button{border: none;background-color: transparent;padding: 0;position: absolute;bottom: -25px;right: 8px;color: #dbdbdb;font-size: 20px;}

.btn.btn-select{padding: 6px 15px;border: 2px solid #eaeaea;background-color: transparent;height: 50px;}
.js-selectbox.open .btn.btn-select{border-color: #55bfd5;}

.panel-block{border: 2px solid #eaeaea;}
.editor-block{overflow: hidden;}
.panel-block.add-new-item{border: none;}
.add-item-head{position: relative;}
.add-item-head .form-control{padding-right: 120px;}
.add-item-head .btn{position: absolute;right: 4px;top: 4px;min-width: 100px;height: 42px;}
.add-item-body{background-color: #f5f5f5;padding: 25px 20px; border: 2px solid #eaeaea;border-top: none; min-height: 200px;}
.remove-btn{background-color: transparent;border: none;padding: 0; position: absolute;left: 0;top: 0;color: #bbbbbb;}
.item-list{padding: 0;margin: 0;}
.item-list li{list-style: none;margin-bottom: 5px;padding-left: 20px;position: relative;}
.map-block .add-item-body{padding: 0;}
.map{height: 480px;overflow: hidden;}

.gray-check-box{background-color: #f6f6f6;padding: 16px 20px;}
.share-media{}
.share-media p{margin-bottom: 15px;}
.share-media .checkbox{display: inline-block;width: 100%;}

.page-name{padding-left: 30px;position: relative;font-weight: 700;}
.page-name .bar{position: absolute;left: 0;top: 0;}
.page-name-inner .page-name{padding-left: 69px;}
.page-name-inner .page-name .bar{left: 38px;}
.page-name .sub-arrow{position: absolute;left: 0;top: 0;}
.sub-text{font-style: italic;color: #afafaf;font-weight: normal;}

.build-new-page{margin-top: 20px; border: 1px dashed #d8d8d8;padding: 20px;}
.build-new-page p:first-child{margin-bottom: 0;}

.setting-block{padding-top: 20px;}
.setting-block .nav-tabs > li > a {padding-left: 17px;padding-right: 17px;}
.setting-block .tab-content{padding-top: 30px;}
.photo-upload{position: relative;padding-left: 112px;min-height: 100px;display: inline-block;width: 100%;}
.photo-upload .photo{width: 98px;height: 98px;background-color: #dcdcdc;position: absolute;left: 0;top: 0;}
.pic-upload{position: relative;margin-top: 8px;margin-bottom: 10px;}
.pic-upload input{opacity: 0;position: relative;z-index: 2;width: 120px;}
.pic-upload span{position: absolute;top: 0;top: 0;color: #26b1ce;text-decoration: underline;}

.setting-block label{font-weight: normal;}
.header-option .row{margin: 0 -5px;}
.header-option [class*="col-"]{padding: 5px;}
.haeder-opt-block{padding: 20px 20px 50px;position: relative;border: 1px solid transparent;margin-bottom: 15px;}
.haeder-opt-block h4{margin: 0 0 15px;padding-right: 25px;}
.haeder-opt-block .header-check{position: absolute;right: 20px;top: 20px;font-size: 26px;display: none;cursor: pointer;}
.haeder-opt-block .thumb img{width: 100%;}
.haeder-opt-block:hover .header-check{display: block;}
.haeder-opt-block .header-check:hover{color: #26b1ce;}
.haeder-opt-block.selected,
.haeder-opt-block:hover{background-color: #fff;border-color:#eeeeee;}
.haeder-opt-block.selected .header-check{display: block;color: #26b1ce;}

.upload-logo{position: relative;margin-bottom: 10px;}
.upload-logo span{display: inline-block;vertical-align: middle;border: 1px solid #27b2cc;color: #27b2cc;width: 116px;text-align: center;padding: 9px 10px;font-weight: 700;}
.upload-logo input{position: absolute;top: 0;left: 0;right: 0;bottom: 0;opacity: 0;height: 40px;width: 116px;}
.logo-part p{color: #aeaeae;}

.form-group{display: inline-block;width: 100%;}

/* content End
-------------------------------------------------- */

/* Responsive Style Start 
-------------------------------------------------- */

@media (min-width: 768px) {
#wrapper {margin-left: 220px;}
#content {padding-left: 20px;}
.heading-left{float: left;}
.heading-right{float: right;}
}
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
.photo-arrange ul li{width: 33.33%;}
}

@media (max-width: 767px) {
#wrapper{width: 100%;}
.sidebar-menu #wrapper {margin-left: 220px;}
#header{left: -220px;}
.sidebar-menu #header{left: 0;}
.navbar-toggle{position: absolute;right: -70px;top: 5px;margin-right: 0;}
.navbar-nav{margin: 0;}
#content{padding-top: 70px;}
.map{height: 280px;}
.heading-left{}
.heading-right.text-right{text-align: left;margin-top: 20px;}
}

@media (max-width: 480px) {
.photo-arrange ul li{width: 50%;}
}

/* Responsive Style End
-------------------------------------------------- */