<!DOCTYPE html>
<html ><head >
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://static.myrealestatesite.co/css/component.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/91cc4ee1af.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="components.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://static.myrealestatesite.co/js/tablesorter.min.js"></script>
<script type="text/javascript" src="http://static.myrealestatesite.co/js/acc.js"></script>
<title>Visual Realty</title>

</head>


<body  class="sheer" >

	<ul style="height: 90%;"  class="nav col-sm-1 content row" >
		<li id="LeftMargin">	</li>
	</ul>

	<ul style="height: 90%;"  class="nav col-sm-10 content row" >
	<li id="ContentHeader" class="col-sm-12" >
		<span style="float: left;"><h1>Column Sandbox</h1></span>
	</li>




	<li id="Stage Content" class="col-sm-7" >
	<div class="sidewaysProfile">
	<div class="agentProfileForum" >
			<div class="fullProfile">
				<img class="agentProfile" src="http://www.gantrypark.com/Portals/12/Users/066/14/53314/adam-parker-large.jpg" />				
				<span class="line0"> Anthony Bananaer </span>
				<span class="line1"> Maximus Realitus </span>
				<br/>
				<span class="line2"> (305) 676-8588 </span>
				<span class="line3"> maninsuit@realty.house </span>
				<span class="line4"> 1142 SW 99th St. Ste, 200 Miowi FL 30920 </span>
				<span class="line5"> 200 Miowi FL 30920 </span>
				<br/>
				<hr noshade class="breakline">
			</div>
		<div class="profileText">
			Lorem ipsum dolor sit amet, mei no aperiri fierent, sea latine deleniti suscipiantur no. Ei assentior constituam cum, nec fuisset constituto ne, dico habeo iudicabit ei ius. Ea nec liber facete. Sit cu doctus eruditi laoreet, in qui modo dico omittam. Vix at dicat vitae, vel te feugiat delicatissimi, ex qui accusam pertinacia. No duo equidem mentitum vituperata, mea no veri viris. Duo oratio graecis cu, sed viris regione in.

Ut eum expetenda omittantur, id odio graece sed, id ridens molestie quo. In liber commodo signiferumque vel, choro legendos et usu. Mea suas zril exerci ut, autem doctus convenire et mea. Magna voluptua phaedrum ius id. Melius constituto at sit, ridens sadipscing cu est. Est munere delicata et, diam perpetua pro ei, pro choro signiferumque ut.

Eos at omnes tollit putant, modus ludus convenire vim an. Quodsi nostrud habemus ne eam. Assentior vituperatoribus his ea, qui eu sale instructior, ius id quas nominavi pericula. Essent eligendi pertinax ne nam, in aliquam scriptorem mei.

Ex vis invidunt atomorum. At pro dicam suavitate percipitur. Ad sit iudicabit conclusionemque, ad mel scripta vocibus fabellas, tempor senserit ocurreret an qui. Ex qui aliquid appareat percipit, no mea modo deseruisse, vis unum aperiri platonem no.

Eu vis unum errem elitr, fuisset patrioque vel in. Consul commodo tacimates an nec, tale probatus te ius, modus dicunt usu in. Te qui simul omnium adipiscing, aliquando scriptorem nec ea, malis detracto adversarium ex est. Ex affert nonumes accusam sit, in sale mandamus pro. Has id menandri pericula. Constituto deseruisse no per, ad vim sonet iriure regione. Vim malis movet eu.

Nam cu quaeque ornatus tibique, ne his vitae propriae, sit ad nihil libris. Ea wisi exerci his, vel ea mollis vituperatoribus, feugiat perfecto concludaturque ut duo. Duo lobortis intellegat id. Laudem iriure definitiones qui ex, eu qui fabulas facilisi delicatissimi.

Putent dicunt mel id, assum sonet gubergren vix et, quo reprimique neglegentur ut. Ridens molestiae voluptatibus ex per. Ut porro incorrupte eos, dicunt ponderum suavitate has ei. Viris vocibus at sed. Eu elit summo quidam qui. Sed cu meliore repudiandae, duo nibh diceret salutatus eu, an eos exerci persequeris.

Nonumy scribentur sea an, solum melius rationibus qui id. Cum ea libris invenire. Labores mnesarchum id vis, eos virtute inermis cu. Liber regione quaerendum ne vel, accusam offendit no duo, eam saepe eloquentiam te. Ius cu suas scripserit, ei nam paulo essent.

Meliore voluptua cotidieque est eu, wisi affert tation et cum. Ad probatus vulputate ius, alia probo dicunt mei id. Erant suscipit mel ea. Pri adhuc ornatus et.

Duis suscipit accusata at quo, sit case nihil at. Mea ei summo putent repudiare. Elitr mandamus reformidans vis ei. Libris numquam adipiscing sit et. Vim ea solet assueverit.
		</div>
	</div>
	</div>













	</ul>
	
	<ul style="height: 90%;"  class="nav col-sm-1 content row" >
		<li id="RightMargin">	</li>
	</ul>


<!-- If you need any end-of-body javascript -->
<script type="text/javascript" ></script>
</body>
</html>
