<!--li class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"-->
<a href="//approach.im/" id="NavHome" class="navbar-brand"><img src="//static.approach.im/img/display/approach.png" alt="approach.im &raquo; Home" class="sheer fill" style="margin-top: -36px; margin-left: -49px; width: 106px; height: 100px;" /></a>
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-screenshot"></span> Main Stuff<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="//approach.im/">Sandbox Main</a></li>
          <li><a href="//approach.im/projects">Current Projects</a></li>
          <li><a href="//approach.im/docs">Documentation</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span> Talk<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="//approach.im/talk">Forum</a></li>
          <li><a href="//approach.im/chatter">Chat Tool</a></li>
          <li><a href="//approach.im/messages">Contact Team Member</a></li>
          <li class="divider"></li>
          <li><a href="//approach.im/reporting">File Report</a></li>
          <li><a href="//approach.im/lead">Contact Supervisor</a></li>
        </ul>
    </li>
</ul>
<button type="button" class="btn btn-primary pull-right navbar-btn" data-toggle="modal" data-target="#SigninModal" >Sign in | Register</button>
<!--/li-->