<!DOCTYPE html>
<html ><head >
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://static.myrealestatesite.co/css/component.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/91cc4ee1af.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="components.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://static.myrealestatesite.co/js/tablesorter.min.js"></script>
<script type="text/javascript" src="http://static.myrealestatesite.co/js/acc.js"></script>
<title>Visual Realty</title>

</head>



<body  class="sheer" >

	<ul style="height: 90%;"  class="nav col-sm-1 content row" >
	<li id="LeftMargin">	</li>
	</ul>


<ul style="height: 90%;"  class="nav col-sm-10 content row" >
	<li id="ContentHeader" class="col-sm-12" >
		<span style="float: left;"><h1>Column Sandbox</h1></span>
	</li>




	<li id="Stage Content" class="col-sm-3" >

	<div class="agentProfileForum" >
			<div class="fullProfile">
				<img class="agentProfile" src="http://www.gantrypark.com/Portals/12/Users/066/14/53314/adam-parker-large.jpg" />
				<span class="line0"> Anthony Bananaer </span>
				<span class="line1"> Maximus Realitus </span>
				<br/>
				<span class="line2"> (305) 676-8588 </span>
				<span class="line3"> maninsuit@realty.house </span>
				<span class="line4"> 1142 SW 99th St. Ste </span>
				<span class="line5"> 200 Miowi FL 30920 </span>
				<hr noshade class="breakline">
			</div>
	</div>



	<div class="agentProfileForum" >
			<div class="forum">
				<form class="Autoform" action="LeadGeneration">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Full Name" name="_fname" >
				</div>
				
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Email" name="_email">
				</div>
				
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Phone" name="_phone">
				</div>
				
				<div class="input-group">
					<textarea rows="6" name="_message" class="form-control" placeholder="Message"></textarea>
				</div>
				
				<input type="submit" name="submit" value="Send to Agent" class="SubmitBtn btn btn-default" />
				
				</form>
			</div>
	</div>

	</li>



</ul>

<ul style="height: 90%;"  class="nav col-sm-1 content row" >
	<li id="RightMargin">	</li>
</ul>


<!-- If you need any end-of-body javascript -->
<script type="text/javascript" ></script>
</body>
</html>
