@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
.Interface {
  width: 600px;
  height: 420px;
  position: absolute;
  left: 4em;
  top: 4em;
}
.Interface form {
  display: inline-block;
  width: 100%;
}
.Interface input {
  background-color: #ffffff;
  margin: 1em 0px;
  line-height: 1.2em;
  height: 2em;
  behavior: url('PIE.htc');
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 4px;
}
.Interface .InputRegion label {
  margin-bottom: 15px;
  margin: 1em 0px;
}
.Interface textarea {
  display: inline-block;
  width: 100%;
  margin: 1em 0px;
  behavior: url('PIE.htc');
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 4px;
}
.Interface ul {
  padding: 0px;
}
.Interface li {
  list-style-type: none;
}
.Interface .InterfaceLayout {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  z-index: 1000;
  behavior: url('PIE.htc');
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 1px solid #777;
  background-image: linear-gradient(bottom, #e4e4e4 0%, #fefefe 100%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #fefefe 100%);
  background-image: -moz-linear-gradient(bottom, #e4e4e4 0%, #fefefe 100%);
  background-image: -webkit-linear-gradient(bottom, #e4e4e4 0%, #fefefe 100%);
  background-image: -ms-linear-gradient(top, #e4e4e4 0%, #fefefe 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4e4e4), color-stop(1, #fefefe));
}
.Interface .InterfaceLayout .Header .ToggleButton {
  behavior: url('PIE.htc');
  margin: 2px;
  font-size: 20px;
  cursor: pointer;
  cursor: hand;
  color: #bbbbbb;
  text-shadow: 0px 2px 0px #222;
}
.Interface .InterfaceLayout .Header .ToggleButton:hover {
  behavior: url('PIE.htc');
  color: #eaeaea;
  text-shadow: 0px 0px 3px #222;
}
.Interface .InterfaceLayout .Header .ToggleButton:active {
  behavior: url('PIE.htc');
  color: #ffffff;
  text-shadow: 0px 0px 3px #000;
}
.Interface .Header {
  behavior: url('PIE.htc');
  height: 42px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1100;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -moz-box-shadow: 0px 1px 2px #050405;
  -webkit-box-shadow: 0px 1px 2px #050405;
  box-shadow: 0px 1px 2px #050405;
  background-color: #eeeedd;
}
.Interface .Header li {
  display: inline-block;
  list-style: none;
}
.Interface .Header .title {
  position: absolute;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  height: 21px;
  top: 0px;
  border: 0px hidden;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  z-index: 1000;
  color: #2f4f4f;
  clear: both;
  font-family: sans-serif, arial;
}
.Interface .Content {
  width: 100%;
  height: 336px;
  margin: 0px;
  padding: 8px;
  overflow-y: scroll;
  position: absolute;
  top: 42px;
  left: 0px;
  z-index: 1001;
}
.Interface .Footer {
  behavior: url('PIE.htc');
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 40px;
  margin-top: 12px;
  border-top: 1px solid black;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #eeeedd;
}
.Interface .InterfaceMenu {
  display: block;
  height: 18px;
  position: absolute;
  width: 100%;
  left: 0%;
  margin-left: 4px;
  bottom: 0px;
}
.Interface .DropDown {
  margin: 0px;
  padding: 0px 6px;
  display: inline-block;
  float: left;
  height: 18px;
  z-index: 1002;
}
.Interface .DropDown:hover {
  behavior: url('PIE.htc');
  background-color: #ffffee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-box-shadow: 0px 0px 1px #050405;
  -webkit-box-shadow: 0px 0px 1px #050405;
  box-shadow: 0px 0px 1px #050405;
}
.Wizard {
  width: 600px;
  height: 420px;
  position: absolute;
}
.Wizard li {
  list-style-type: none;
}
.Wizard .Content .Slide {
  padding: 10px 10px 10px 10px;
  display: none;
  height: 294px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 582px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
}
.Wizard .Content li {
  padding: 10px 10px 10px 10px;
}
.Wizard .Content .active {
  display: inline-block;
}
.Wizard .Content .InputRegion {
  color: #9a9a9a;
  font-size: 16pt;
  font-family: helvetica;
}
.Wizard .form-search {
  padding-top: 32px;
}
.Wizard .title {
  font-family: helvetica;
}
.DropDown .MenuLabel {
  width: 100%;
  display: inline-block;
}
.DropDown li {
  width: 100%;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
}
.DropMenu {
  font-size: 12px;
  border: 1px solid #000;
  padding: 0px;
  margin: 0px;
  margin-left: 1px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #eeeecc;
  width: 176px;
  position: absolute;
  line-height: 15px;
  top: 1.5em;
  left: -6px;
  display: none;
  text-align: left;
  z-index: 1100;
}
.DropMenu li {
  width: 100%;
}
.DropMenu li:hover {
  behavior: url('PIE.htc');
  background-color: #ffffee;
  -moz-box-shadow: 0px 0px 2px #fafad2;
  -webkit-box-shadow: 0px 0px 2px #fafad2;
  box-shadow: 0px 0px 2px #fafad2;
}
.DropMenu .MenuSeparator {
  height: 1px;
  border-top: 1px solid #775;
  background-color: #ffffee;
}
#Dynamics {
  position: absolute;
  width: 38em;
  height: 100%;
  top: 0px;
  right: 0px;
  margin-left: -38em;
}
#Dynamics #terminal {
  width: 38em;
  height: 100%;
  overflow: auto;
  position: absolute;
  background-color: #000000;
  border: 4px solid #888;
  border-radius: 12px;
}
.Button {
  behavior: url('PIE.htc');
  overflow: hidden;
  position: relative;
  height: 1.4em;
  display: inline-block;
  color: #ffffff;
  font-family: Verdana;
  margin: 6px;
  padding: 4px;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-box-shadow: inset 0px 0px 3px #050405;
  -webkit-box-shadow: inset 0px 0px 3px #050405;
  box-shadow: inset 0px 0px 3px #050405;
  border: 1px solid #777;
}
.Button a {
  color: #ffffff;
  text-decoration: none;
}
.Button:hover {
  behavior: url('PIE.htc');
  background-image: linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -o-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -moz-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -webkit-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -ms-linear-gradient(top, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #050505), color-stop(0.99, #2a2e2a), color-stop(0.51, #e6e640));
}
.DarkGreen {
  behavior: url('PIE.htc');
  background-image: linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #40e640 51%);
  background-image: -o-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #40e640 51%);
  background-image: -moz-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #40e640 51%);
  background-image: -webkit-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #40e640 51%);
  background-image: -ms-linear-gradient(top, #050505 1%, #2a2e2a 99%, #40e640 51%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #050505), color-stop(0.99, #2a2e2a), color-stop(0.51, #40e640));
}
.DarkRed {
  behavior: url('PIE.htc');
  background-image: linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e64040 51%);
  background-image: -o-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e64040 51%);
  background-image: -moz-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e64040 51%);
  background-image: -webkit-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e64040 51%);
  background-image: -ms-linear-gradient(top, #050505 1%, #2a2e2a 99%, #e64040 51%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #050505), color-stop(0.99, #2a2e2a), color-stop(0.51, #e64040));
}
.DarkBlue {
  behavior: url('PIE.htc');
  background-image: linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #4040e6 51%);
  background-image: -o-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #4040e6 51%);
  background-image: -moz-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #4040e6 51%);
  background-image: -webkit-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #4040e6 51%);
  background-image: -ms-linear-gradient(top, #050505 1%, #2a2e2a 99%, #4040e6 51%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #050505), color-stop(0.99, #2a2e2a), color-stop(0.51, #4040e6));
}
.DarkYellow {
  behavior: url('PIE.htc');
  background-image: linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -o-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -moz-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -webkit-linear-gradient(bottom, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -ms-linear-gradient(top, #050505 1%, #2a2e2a 99%, #e6e640 51%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #050505), color-stop(0.99, #2a2e2a), color-stop(0.51, #e6e640));
}
/*
.Banner .Background { 
	background-color: blue; 
	position: absolute; 
	top: 50%; left: 50%; 
	margin-top: -250px;
	margin-left: -50%;

	min-height:500px;
	height:auto !important;
	height:500px;
	min-width:100%;
	width:auto !important;
	width:100%;
}
/**/
.agentProfileForum {
  background-color: #f7f7f7;
  text-align: center;
  padding: 8px 2em;
}
.agentProfileForum input.form-control {
  background-color: #fafafa;
}
.agentProfileForum textarea {
  background-color: #fafafa;
}
.agentProfileForum .fullProfile {
  display: inline-block;
  width: 100%;
}
.agentProfileForum .fullProfile span {
  display: block;
}
.agentProfileForum .fullProfile .agentProfile {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.agentProfileForum .fullProfile .line0 {
  font-size: 20px;
  color: #000000;
  font-weight: bolder;
}
.agentProfileForum .fullProfile .line1 {
  font-size: 20px;
  color: #000000;
}
.agentProfileForum .fullProfile .line2 {
  font-size: 15px;
  color: #000000;
}
.agentProfileForum .fullProfile .line3 {
  font-size: 15px;
  color: #000000;
}
.agentProfileForum .fullProfile .line4 {
  font-size: 15px;
  color: #b1b1b1;
}
.agentProfileForum .fullProfile .line5 {
  font-size: 15px;
  color: #b1b1b1;
}
.agentProfileForum .forum .input-group {
  width: 100%;
  margin: 10px 0px;
}
.agentProfileForum .forum input.SubmitBtn {
  background-color: #26b1ce;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
}
.Banner {
  background-color: #bbbbbb;
  overflow: hidden;
  position: relative;
  width: 100% !important;
  height: 500px !important;
  background: url('../img/walkbanner.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.Banner .Overlay {
  height: 50%;
  top: 25%;
  position: absolute;
  padding: 1.78%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.Banner .Overlay span {
  display: block;
  color: #ffffff;
  width: 100%;
}
.layoutRowStage .Banner {
  overflow: visible;
}
#layoutCanvas .Banner {
  overflow: visible !important;
}
.agentProfile {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.Banner1 .Overlay {
  width: 50%;
  position: absolute;
  left: 25%;
  text-align: center;
  color: #ffffff;
}
.Banner1 .Overlay hr {
  display: none;
}
.Banner1 .Overlay .line4 {
  display: none;
}
.Banner1 .Overlay .line5 {
  display: none;
}
.Banner1 .Overlay .agentProfile {
  display: none;
}
.Banner1 .Overlay button {
  background-color: #26b1ce;
  color: #ffffff;
  font-weight: bold;
  margin-top: 35px;
}
.Banner1 .Overlay .line0 {
  font-size: 42px;
  font-weight: bold;
}
.Banner1 .Overlay .line1 {
  font-size: 42px;
  font-weight: bold;
}
.Banner1 .Overlay .line2 {
  font-size: 20px;
}
.Banner1 .Overlay .line3 {
  font-size: 20px;
}
.Banner2 .Overlay {
  width: 25%;
  position: absolute;
  left: 6.25%;
  background-color: rgba(32, 32, 32, 0.851);
  background: rgba(32, 32, 32, 0.851);
}
.Banner2 .Overlay button {
  display: none;
}
.Banner2 .agentProfile {
  display: none;
}
.Banner3 .Overlay {
  height: 315px !important;
  width: 315px !important;
  top: 93px !important;
  position: absolute;
  left: 6.25%;
  background-color: #ffffff;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.Banner3 .Overlay .line0 {
  font-size: 20px;
  color: #000000;
  font-weight: bolder;
}
.Banner3 .Overlay .line1 {
  font-size: 20px;
  color: #000000;
}
.Banner3 .Overlay .line2 {
  font-size: 15px;
  color: #b1b1b1;
}
.Banner3 .Overlay .line3 {
  font-size: 15px;
  color: #b1b1b1;
}
.Banner3 .Overlay .line5 {
  display: none;
}
.Banner3 .Overlay .line4 {
  display: none;
}
.Banner3 .Overlay button {
  background-color: #26b1ce;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
}
.share {
  background-color: #ffffff;
}
.share .info {
  display: block;
  letter-spacing: 1px;
  height: 100px !important;
  text-align: left;
  top: auto !important;
}
.share .info .line0 {
  padding-top: 1em;
  font-weight: bold;
  font-size: 25px;
  display: block;
}
.share .info .line1 {
  font-size: 17px;
  margin-top: -0.1em;
  padding-bottom: .4em;
  display: block;
  color: #b1b1b1;
}
.share .info .line2 {
  display: block;
  font-size: 25px;
}
.share .info .line3 {
  color: #828282;
  font-weight: bold;
  margin-top: 9px;
  display: inline-block;
  margin-left: -3em;
}
.share .info .line4 {
  color: #828282;
  font-weight: bold;
  margin-top: 9px;
  display: inline-block;
  margin-left: -3em;
}
.share .info .line5 {
  color: #828282;
  font-weight: bold;
  margin-top: 9px;
  display: inline-block;
  margin-left: -3em;
}
.share .info .line6 {
  margin-bottom: 1em;
  display: block;
  font-size: 17px;
  color: #828282;
}
.share .info hr {
  background-color: #efefef;
}
.share .info span span {
  background-color: #ffffff;
  color: #000000;
  padding: 4px 15px;
  margin-right: 7px;
  margin-left: 3em;
  display: inline;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.share .info button {
  margin-right: 1em;
  color: #32b1cc;
  width: 20%;
  border-color: #32b1cc;
  background-color: #ffffff;
}
.Banner4 .Overlay {
  letter-spacing: 1px;
  height: 100px !important;
  text-align: left;
  top: auto !important;
  bottom: 2.5em;
  left: 6.5%;
}
.Banner4 .Overlay .line0 {
  font-weight: bold;
  font-size: 25px;
}
.Banner4 .Overlay .line1 {
  font-size: 17px;
  margin-top: -0.4em;
  padding-bottom: .4em;
}
.Banner4 .Overlay .line2 {
  font-weight: bold;
  margin-top: 9px;
  display: inline-block;
  width: auto !important;
}
.Banner4 .Overlay .line3 {
  font-weight: bold;
  margin-top: 9px;
  display: inline-block;
  width: auto !important;
}
.Banner4 .Overlay .line4 {
  font-weight: bold;
  margin-top: 9px;
  display: inline-block;
  width: auto !important;
}
.Banner4 .Overlay .line5 {
  display: none;
}
.Banner4 .Overlay hr {
  display: none;
}
.Banner4 .Overlay .agentProfile {
  display: none;
}
.Banner4 .Overlay button {
  float: left !important;
  background-color: #26b1ce;
  color: #ffffff;
  font-weight: bold;
}
.Banner4 .Overlay span span {
  background-color: #ffffff;
  color: #000000;
  padding: 4px 15px;
  margin-right: 7px;
  margin-left: 3em;
  display: inline;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.sidewaysProfile .agentProfileForum {
  padding: 8px 8px;
}
.sidewaysProfile .agentProfileForum img {
  margin-right: 15px;
  float: left;
  height: 10em !important;
  width: 10em !important;
  display: inline-block;
}
.sidewaysProfile .agentProfileForum span {
  text-align: left;
}
.sidewaysProfile .agentProfileForum .fullProfile .line0 {
  font-size: 25px !important;
  font-size: 16px;
}
.sidewaysProfile .agentProfileForum .fullProfile .line1 {
  font-size: 16px;
}
.sidewaysProfile .agentProfileForum .fullProfile .line5 {
  display: none;
}
.sidewaysProfile .agentProfileForum .fullProfile hr {
  background-color: #fafafa !important;
  color: #fafafa !important;
}
.sidewaysProfile .agentProfileForum .profileText {
  text-align: left;
}
.textArea {
  width: 100%;
  text-align: left;
}
.card {
  display: inline-block;
  margin-right: auto;
  color: #505058;
  position: relative;
  padding-bottom: 1em;
}
.card img {
  width: 100%;
  height: 240px;
}
.card .line0 {
  color: #000000;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
}
.card .line1 {
  color: #b1b1b1;
}
.card .line2 {
  color: #32b1cc;
  font-weight: bold;
  font-size: 20px;
}
.card .line3 {
  color: #000000;
  font-size: 17px;
}
.card .line4 {
  color: #000000;
  font-size: 17px;
}
.card .line5 {
  color: #000000;
  font-size: 17px;
}
.card span,
.card div {
  margin: 0 15px;
}
.search {
  padding: 2em;
  color: #000000;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #efefef;
}
.search span {
  display: inline-block;
  padding-top: 1em;
  height: 2em;
  line-height: 2em;
  vertical-align: bottom;
  color: #32b1cc;
  font-weight: bold;
  padding-left: 3em;
}
.searchBar {
  background-color: #ffffff;
  border-color: #d30000;
  height: 3em;
}
.searchBar li {
  list-style: none;
  display: inline-block;
  height: 100%;
}
.searchBar select {
  height: 100%;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #f5f5f5;
  border-color: #ebebeb;
  text-align: left;
  font-weight: bold;
}
.searchBar .searchButton {
  height: 100%;
  background-color: #26b1ce;
  color: #ffffff;
  font-weight: bold;
  width: 8em;
}
.dropdown-menu {
  display: inline-block;
  padding-top: 1em;
  height: 2em;
  line-height: 2em;
  vertical-align: bottom;
  color: #32b1cc;
  font-weight: bold;
  padding-left: 3em;
}
.settingsmodal {
  text-align: left;
}
/* Change span immediately following the checked radio */
/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */
.Component {
  position: relative;
}
.ComponentLayout {
  height: 100% !important;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.round {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgba(200, 200, 200, 0.5);
}
.Button {
  position: relative;
  display: inline-block;
  background: #9898ca;
  color: #ffffff;
  font-size: 15px;
}
.HorizontalList {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.messageboard {
  padding: 100px;
}
.Messages {
  background-color: #505058;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
}
.Message {
  border-top: 2px dotted #557;
  padding: 2px 0px 8px 144px;
  margin: 0px 0px 2px -4px;
  background: #ddc;
  color: #505058;
  position: relative;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
}
.Message .profile {
  width: 144px;
  float: left;
  margin-left: -144px;
  margin-top: -4px;
  padding: 4px;
  display: inline-block;
  border-right: 1px dotted black;
  border-bottom: 1px dotted black;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px;
  min-height: 172px;
}
.Message .contents {
  width: 100%;
  min-height: 222px;
  display: inline-block;
}
.Message .contents li {
  width: 100%;
  display: inline-block;
}
.Message .contents .social {
  border-top: 1px solid #334;
  margin-top: 2em;
}
.Message .contents .social .vote {
  color: #ffffff;
}
.profile img {
  width: 120px;
}
.vote {
  font-size: 32px;
  line-height: 32px;
  vertical-align: middle;
  float: left;
}
.vote .fa-caret-up {
  color: #77cc88;
  background-color: rgba(0, 0, 0, 0);
}
.vote .fa-caret-down {
  color: #cc7777;
  margin-top: -0.5em;
  background-color: rgba(0, 0, 0, 0);
}
li.modal {
  list-style: none;
}
li.control {
  list-style: none;
}
.modal {
  padding: 8px;
  margin-top: 20px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.modal-header {
  background-color: #f7f7f7;
  color: #000000;
}
.modal-header .modal-title {
  color: #000000;
}
.modal-header button.close {
  color: #32b1cc;
}
.modal-footer {
  background-color: #f7f7f7;
  color: #000000;
}
.modal-footer .modal-title {
  color: #000000;
}
.modal-body {
  background-color: #eaeaea;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 32px !important;
  -webkit-border-radius: 32px !important;
  -moz-border-radius: 32px !important;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
}
.nice_green {
  color: #22ef10 !important;
}
.glyphicons.nice_green i:before {
  color: #22ef10 !important;
}
.nice_yellowish {
  color: #efd010 !important;
}
.glyphicons.nice_yellowish i:before {
  color: #efd010 !important;
}
#ProductLibrary ul.controls {
  padding-bottom: 32px;
}
.modal-content form input {
  float: right;
}
.modal-content form select {
  float: right;
}
.modal-content form textarea {
  float: right;
}
.modal-content form button {
  float: right;
}
.modal-content form datalist {
  float: right;
}
.modal-content form keygen {
  float: right;
}
.modal-content form output {
  float: right;
}
.modal-content form label {
  float: left;
}
.modal-content form legend {
  float: left;
}
.hide {
  display: none;
}
.rating input {
  position: absolute;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
  width: 32px !important;
  height: 32px;
}
.rating input:checked + span {
  background: url('http://static.croptender.com:8080/img/ui/leaf-on.png');
}
.rating input:checked + span ~ span {
  background: url('http://static.croptender.com:8080/img/ui/leaf-off.png');
}
.rating span {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  padding: 1px 34px 16px 0;
  background: url('http://static.croptender.com:8080/img/ui/leaf-on.png?2');
}
.fc-content-skeleton table {
  table-layout: fixed !important;
}
.fc-content-skeleton table thead tr td {
  border-right: 1px solid #888;
  padding-left: 1em;
}
.fc-content-skeleton table thead tr th {
  text-align: center;
}
.fc-content-skeleton table tbody tr td {
  height: 4em;
  border-right: 1px dashed #77B;
}
.fc .fc-toolbar {
  position: relative;
  line-height: 4em;
}
.fc .fc-view table {
  width: 100%;
}
.fc .fc-left {
  display: inline-block;
  float: left;
}
.fc .fc-center {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -128px;
  text-align: center;
  width: 256px;
  top: 0px;
}
.fc .fc-center h2 {
  font-size: 18px !important;
}
.fc .fc-right {
  display: inline-block;
  float: right;
}
/*.layoutRow .layoutRowStage:first-child{border-left: 0px solid white;padding-left: 0px;}*/
/*
.layoutBtn{
height: 70%; color: white !important; 	background-color: #33B0CC  !important;font-size: 24px;padding: 16px;margin-right: 2em;
}
*/
.modal {
  left: auto !important;
  right: 1rem;
}
.panel {
  position: relative;
}
.ComponentControl {
  padding: 4px;
}
.ComponentControl:hover {
  border: 8px double #acacac;
  cursor: pointer;
}
.draggable:hover {
  border: 4px dotted #77C;
  cursor: move;
  z-index: 32767;
}
.ui-draggable-dragging {
  border: 4px double blue;
  z-index: 32767;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.drop-hover {
  background-color: #ffffaa;
  border: 4px double black !important;
}
.droppable-hover {
  background-color: #ffffaa;
  border: 4px double black !important;
}
#addRow {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -12em;
}
#layoutCanvas {
  padding-bottom: 42px;
  padding-top: 3em;
}
.addComponentBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #32b1cc;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  background-color: #9a9a9a;
}
.addRowBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #32b1cc;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
.showComponentLib {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #32b1cc;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
#addRowBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #32b1cc;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
#addRowBtn:hover {
  background-color: #06719e;
}
#addSelectRowBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #32b1cc;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
#addSelectRowBtn:hover {
  background-color: #06719e;
}
.smallBtn {
  font-size: 12px;
  height: 33px;
  border-radius: 5px;
  color: #ffffff;
}
.lgBtn {
  font-size: 13px;
  height: 38px;
  border-radius: 5px;
  color: #ffffff;
}
i {
  color: #ffffff;
}
i:hover {
  color: #ffffff;
}
button {
  color: #ffffff;
}
button:hover {
  color: #ffffff;
}
li {
  list-style: none;
}
#AdminNav {
  text-align: center;
  margin-top: 38px;
}
#AdminNav a {
  text-decoration: none;
  position: relative;
  color: #3366ff;
  color: #302830;
}
#AdminNav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  border-left: 2px solid #3366FF;
  transition: 0.4s;
}
#AdminNav a:hover:after {
  height: 100%;
}
#AdminNav li {
  height: 2em;
  vertical-align: middle;
  text-align: left;
  padding: 0px;
  padding-left: 4em;
  margin: 0px;
  font-size: 18px;
}
#AdminNav li.active a:after {
  height: 100%;
}
#ContentHeader {
  margin-top: 38px;
}
.layoutRowStage {
  display: inline-block;
  vertical-align: middle;
  background-color: #e0e0e0;
  padding: 15px;
  padding-top: 1.5em;
  border-left: 0px solid #eaeaea;
  border-right: 14px solid #eaeaea;
  padding-left: 0px;
  padding-right: 0px;
}
body {
  counter-reset: layoutRow;
}
.layoutRow {
  position: relative;
  z-index: 10;
  margin: 0px;
  min-height: 7em;
  vertical-align: middle;
  text-align: center;
  line-height: 100%;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 14px;
  border-radius: 0px;
  padding-right: 0px;
}
.layoutComponent {
  margin-top: 1em;
  margin-bottom: 2.5em;
  position: relative;
  z-index: 20;
  border: 14px solid #606060;
}
.layoutRowController {
  height: 37px;
  background-color: #eaeaea;
  color: #eaeaea;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  position: absolute;
  top: -37px;
  left: 0px;
  z-index: 12;
  padding: 0px;
  margin: 0px;
}
.layoutRowController span {
  line-height: 37px;
  vertical-align: top;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: inline-block;
  height: 37px !important;
  border-right: 1px solid #989898;
  color: #302830;
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.layoutRowController span:hover {
  background-color: #eaeaea;
}
.layoutRowController span:hover:last-child {
  background-color: #d30000;
}
.layoutRowController i {
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.layoutRowController i:hover {
  background-color: #eaeaea;
}
.layoutComponentController {
  height: 37px;
  background-color: #eaeaea;
  color: #eaeaea;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  position: absolute;
  top: -37px;
  left: 0px;
  z-index: 12;
  padding: 0px;
  margin: 0px;
  left: -14px;
  background-color: #e0e0e0;
  border-color: #9a9a9a;
  margin-top: -14px;
  width: 100%;
  border-right: 96px;
}
.layoutComponentController span {
  line-height: 37px;
  vertical-align: top;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: inline-block;
  height: 37px !important;
  border-right: 1px solid #989898;
  color: #302830;
}
.layoutComponentController span:hover {
  background-color: #9a9a9a;
}
.layoutComponentController span:hover:last-child {
  background-color: #d30000;
}
iframe {
  max-height: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: -2px;
}
#ComponentLibrary {
  width: 50%;
  left: auto;
  right: 7% !important;
  min-height: 20px;
  max-height: 80%;
  border-radius: 5px;
  background-color: #ffffff;
}
.ColumnButtonHack {
  width: 100%;
  height: 24px;
  overflow: hidden;
  display: inline-block;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: 4px;
  text-align: left;
  vertical-align: top;
  font-size: 14px;
}
.ColumnButtonHack label {
  height: 24px;
  width: 100%;
}
.ColumnButtonHack label:hover {
  cursor: pointer;
  background-color: #eaeaea;
  border: 4px solid #cacaca;
  border-radius: 4px;
}
.ColumnButtonHack img {
  display: inline-block;
  vertical-align: top;
}
.ColumnFrontEnd {
  display: inline-block;
  vertical-align: middle;
  background-color: #ffffff;
  padding: 15px;
  border-left: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
}
.modal-backdrop {
  z-index: -1 !important;
}
.modal-body {
  background-color: #ffffff;
}
.ComponentBtns {
  height: 5em;
  line-height: 5em;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin-left: -0.2em;
  margin-right: -0.2em;
  margin-bottom: 0.5em;
}
.ComponentBtns div {
  color: #000000;
  background-color: #eaeaea;
  font-size: 15pt;
  font-weight: bold;
  border: 2px solid #7b7b7b;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  height: 100%;
  width: 100%;
  padding-left: 1em;
}
.ComponentBtns div:hover {
  background-color: #e0e0e0;
  border: 2px ridge #8eb4bc;
}
.ComponentBtns div:hover i {
  color: #ffffff;
}
.ComponentBtns i {
  color: #000000;
  margin-right: 0.5em;
  font-size: 22pt;
  vertical-align: text-top;
}
/*.layoutRow .layoutRowStage:first-child{border-left: 0px solid white;padding-left: 0px;}*/
/*
.layoutBtn{
height: 70%; color: white !important; 	background-color: #33B0CC  !important;font-size: 24px;padding: 16px;margin-right: 2em;
}
*/
.something {
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  margin-right: 2em;
}
h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
.btn-primary {
  background-color: #32b1cc;
  border-color: #1091ac;
}
.btn-primary:hover {
  background-color: #1091ac;
  border-color: #32b1cc;
}
.btn-warning {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}
.btn-warning:hover {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}
.btn-default {
  border-radius: 2px;
}
hr {
  width: 100%;
  color: #eaeaea;
  height: 1px;
  border-bottom: 1px solid #E8E8E8;
}
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  counter-reset: layoutRow;
}
doctype {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
#Stage {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.panel {
  position: relative;
}
.ComponentControl {
  padding: 4px;
}
.draggable:hover {
  border: 4px dotted #77C;
  cursor: move;
  z-index: 32767;
}
.ui-draggable-dragging {
  border: 4px double blue;
  z-index: 32767;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.drop-hover {
  background-color: #ffffaa;
  border: 4px double black !important;
}
.droppable-hover {
  background-color: #ffffaa;
  border: 4px double black !important;
}
#addRow {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -12em;
}
#layoutCanvas {
  padding-bottom: 42px;
  padding-top: 3em;
}
.addComponentBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #26b1ce;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
.addRowBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #26b1ce;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
.showComponentLib {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #26b1ce;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
#addRowBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #26b1ce;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
#addRowBtn:hover {
  background-color: #06719e;
}
#addSelectRowBtn {
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  background-color: #26b1ce;
  padding: 6px 12px;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
}
#addSelectRowBtn:hover {
  background-color: #06719e;
}
.smallBtn {
  font-size: 12px;
  height: 33px;
  border-radius: 5px;
  color: #ffffff;
}
.lgBtn {
  font-size: 13px;
  height: 38px;
  border-radius: 5px;
  color: #ffffff;
}
i {
  color: #ffffff;
}
i:hover {
  color: #ffffff;
}
button {
  color: #ffffff;
}
button:hover {
  color: #ffffff;
}
li {
  list-style: none;
}
#Nav {
  text-align: center;
  margin-top: 38px;
}
#Nav a {
  text-decoration: none;
  position: relative;
  color: #3366ff;
  color: #302830;
}
#Nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  border-left: 2px solid #3366FF;
  transition: 0.4s;
}
#Nav a:hover:after {
  height: 100%;
}
#Nav li {
  height: 2em;
  vertical-align: middle;
  text-align: left;
  padding: 0px;
  padding-left: 4em;
  margin: 0px;
  font-size: 18px;
}
#Nav li.active a:after {
  height: 100%;
}
#ContentHeader {
  margin-top: 38px;
}
.layoutRowStage {
  display: inline-block;
  vertical-align: middle;
  background-color: #ffffff;
  padding: 15px;
  padding-top: 1.5em;
  border-left: 0px solid #eaeaea;
  border-right: 14px solid #eaeaea;
  padding-left: 0px;
  padding-right: 0px;
}
#ComponentLibrary {
  border: solid 1px black;
  border-radius: 7px;
}
.modal-backdrop {
  display: none !important;
}
.modal-body {
  background-color: #ffffff;
}
/* Footer */
#footer {
  background: #302830;
  color: #e0e0e0;
  padding: 50px 0;
  margin: 10px 0 0 0;
  min-height: 50px;
}
