<!DOCTYPE html>
<html ><head >
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://static.myrealestatesite.co/css/component.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/91cc4ee1af.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="components.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://static.myrealestatesite.co/js/tablesorter.min.js"></script>
<script type="text/javascript" src="http://static.myrealestatesite.co/js/acc.js"></script>
<title>Visual Realty</title>

</head>
<body  class="sheer" >

<ul style="height: 90%;"  class="nav col-sm-1 content row" >
	<li id="LeftMargin">	</li>
</ul>


<ul style="height: 90%;"  class="nav col-sm-10 content row" >
	<li id="ContentHeader" class="col-sm-12" >
		<span style="float: left;"><h1>Column Sandbox</h1></span>
	</li>
	<li id="Stage Content" class="col-sm-12" >
		<!-- Main Content Area -->

		<!-- Sample Component, from Template 
		<div class="Component Banner [@ BannerType @] Banner1">
			<div class="ComponentLayout layoutRow ">
			<img src="[@ background @]" class="Background" />
			<div class="Overlay">
				<img class="agentProfile" src="[@ agentProfileImg @]" />
				<span> [@ BannerLine1 @] </span>
				<span> [@ BannerLine2 @] </span>
				<span> [@ BannerLine3 @] </span>
				<span> [@ BannerLine4 @] </span>
				<span> [@ BannerLine5 @] </span>
				<span> [@ BannerLine6 @] </span>
				<a href="[@ urlname @]">
					<button type="button" class="btn btn-default" title="Learn much more" >Learn more</button>
				</a>
			</div>
			</div>
		</div> -->
		
		<div class="Component Banner [@ BannerType @] Banner2">
			<div class="ComponentLayout layoutRow ">
			<img src="http://static.myrealestatesite.co/img/walkbanner.jpg" class="Background" />
			<div class="Overlay">
				<img class="agentProfile" src="[@ agentProfileImg @]" />
				<span> [@ BannerLine1 @] </span>
				<span> [@ BannerLine2 @] </span>
				<span> [@ BannerLine3 @] </span>
				<span> [@ BannerLine4 @] </span>
				<span> [@ BannerLine5 @] </span>
				<hr noshade>
				<span> [@ BannerLine6 @] </span>
				<a href="[@ urlname @]">
					<button type="button" class="btn btn-default" title="Learn much more" >Learn more</button>
				</a>
			</div>
			</div>
		</div>
		
		<!-- 
				<div class="Component Banner [@ BannerType @] Banner3">
			<div class="ComponentLayout layoutRow ">
			<img src="http://static.myrealestatesite.co/img/walkbanner.jpg" class="Background" />
			<div class="Overlay">
				<img class="agentProfile" src="[@ agentProfileImg @]" />
				<span class="line0"> Martin Mardobanana </span>
				<span class="line1"> Visual Realty </span>
				<span class="line2"> 1523 somthn Str. </span>
				<span class="line3"> Suite 69 Miami FL 45324 </span>
				<span class="line4"> [@ BannerLine4 @] </span>
				<hr noshade>
				<span class="line5"> [@ BannerLine5 @] </span>
				<a href="[@ urlname @]">
					<button type="button" class="btn btn-default" title="Learn much more" >Learn more</button>
				</a>
			</div>
			</div>
		</div>
		
		<div class="Component Banner [@ BannerType @] Banner4">
			<div class="ComponentLayout layoutRow ">
			<img src="http://static.myrealestatesite.co/img/walkbanner.jpg" class="Background" />
			<div class="Overlay">
				<img class="agentProfile" src="[@ agentProfileImg @]" />
				<span class="line0"> Waterfront Residence </span>
				<span class="line1"> Miami Beach, FL 3453 </span>
				<span class="line2"> <span>97</span>bumfuzzle </span>
				<span class="line3"> Suite 69 Miami FL 45324 </span>
				<span class="line4"> [@ BannerLine4 @] </span>
				<hr noshade>
				<span class="line5"> [@ BannerLine5 @] </span>
				<a href="[@ urlname @]">
					<button type="button" class="btn btn-default" title="Learn much more" >Learn more</button>
				</a>
			</div>
			</div>
		</div>
 -->
	</li>
</ul>

<ul style="height: 90%;"  class="nav col-sm-1 content row" >
	<li id="RightMargin">	</li>
</ul>


<!-- If you need any end-of-body javascript -->
<script type="text/javascript" ></script>
</body>
</html>
