<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://static.myrealestatesite.co/css/component.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/91cc4ee1af.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="components.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://static.myrealestatesite.co/js/tablesorter.min.js"></script>
    <script type="text/javascript" src="http://static.myrealestatesite.co/js/acc.js"></script>
    <title>Visual Realty</title>

  </head>


  <body class="sheer">

    <ul style="height: 90%;" class="nav col-sm-1 content row">
      <li id="LeftMargin"> </li>
    </ul>

    <ul style="height: 90%;" class="nav col-sm-10 content row">
      <li id="ContentHeader" class="col-sm-12">
        <span style="float: left;"><h1>Column Sandbox</h1></span>
      </li>


      <div class="search col-sm-12 ">
        <ul class="searchBar ">

          <li class="col-sm-2 list-group">
            <select class="selectpicker  btn list-group-item">
              <option>City</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </li>

          <li class="col-sm-2 list-group">
            <select class="selectpicker btn list-group-item">
              <option>Zip code</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </li>

          <li class="col-sm-2 list-group">
            <select class="selectpicker btn list-group-item">
              <option>Type</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </li>

          <li class="col-sm-2 list-group">
            <select class="selectpicker btn list-group-item">
              <option>Max price</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </li>


          <li class=" col-sm-2">
            <button type="button" class=" btn btn-default searchButton ">Search</button>
          </li>


        </ul>

        <span> Advanced search </span>

      </div>


    </ul>

    <ul style="height: 90%;" class="nav col-sm-1 content row">
      <li id="RightMargin"> </li>
    </ul>


    <!-- If you need any end-of-body javascript -->
    <script type="text/javascript"></script>
  </body>

  </html>


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://static.myrealestatesite.co/css/component.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/91cc4ee1af.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="components.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://static.myrealestatesite.co/js/tablesorter.min.js"></script>
    <script type="text/javascript" src="http://static.myrealestatesite.co/js/acc.js"></script>
    <title>Visual Realty</title>

  </head>


  <body class="sheer">

    <ul style="height: 90%;" class="nav col-sm-1 content row">
      <li id="LeftMargin"> </li>
    </ul>

    <ul style="height: 90%;" class="nav col-sm-10 content row">
      <li id="ContentHeader" class="col-sm-12">
        <span style="float: left;"><h1>Column Sandbox</h1></span>
      </li>



      <div class="Component Banner [@ BannerType @] Banner4">
        <div class="ComponentLayout layoutRow ">
          <!--img src="http://static.myrealestatesite.co/img/walkbanner.jpg" class="Background" /-->
          <div class="Overlay">
            <img class="agentProfile" src="[@ agentProfileImg @]" />
            <span class="line0"> Waterfront Residence </span>
            <span class="line1"> Miami Beach, FL 3453 </span>
            <span class="line2"> <span>5</span>Bedrooms </span>
            <span class="line3"> <span>4.5</span>Bathrooms </span>
            <span class="line4"> <span>6.124</span>SQ FT </span>
            <hr noshade>
            <span class="line5"> [@ BannerLine5 @] </span>
            <a href="[@ urlname @]">
              <button type="button" class="btn btn-default" title="Learn much more">$7,995,000</button>
            </a>
          </div>
        </div>
      </div>








    </ul>

    <ul style="height: 90%;" class="nav col-sm-1 content row">
      <li id="RightMargin"> </li>
    </ul>


    <!-- If you need any end-of-body javascript -->
    <script type="text/javascript"></script>
  </body>

</html>
